body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

th,
td {
    padding: 5px;
    text-align: left;
    border: solid 1px;    
}

.imagem-texto {
    max-width: 20%;
    max-height: 200px;
}