/* CSS GERAL */
/* importa fonte google */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* variaveis */
:root {
    --preto: #272727;
    --amarelo-escuro: #D09566;
    --laranja-claro: #eba165;
    --vermelho: #CB492B;
    --cinza-escuro: #363535;
    --azul-medio: #3e5a75;
    --azul-claro: #4679a8;
    --branco: #F9F9F9;
    --gradiente: linear-gradient(to bottom, #2B2C30, #F9F9F9);

    --fonte-titulo: 'Playfair Display', serif;
    --fonte-corpo: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--fonte-titulo);
    margin: 0;
    padding: 1em;
    text-align: center;
}

body {
    color: var(--branco);
    font-family: var(--fonte-corpo);
    margin: 0;
    align-items: center;
    background-color: var(--cinza-escuro);
}

header {
    background-color: var(--preto);
    color: var(--branco);
    margin: 0;
}

footer {
    background-color: var(--preto);
    padding: 2em;
    text-align: center;
}

/* links */
a {
    text-decoration: none;
    color: var(--branco);
}

/* botoes */
.link-btn {
    background-color: var(--amarelo-escuro);
    border-radius: 100px;
    padding: 10px;
    margin: 10px;
}
.link-btn:hover {
    background-color: var(--laranja-claro);
}

footer .link-btn {
background-color: var(--azul-medio);
}

footer .link-btn:hover {
    background-color: var(--azul-claro);
    }

/* tabelas */
th,
td {
    padding: 5px;
    text-align: left;
    border: solid 1px;
}

dd, dt, li {
    padding: 5px;
}

/* CSS PAGINA 1 */
.imagem-texto {
    max-width: 20%;
    max-height: 200px;
}

.div-imagem-texto,
.titulo-materia {
    text-align: center;
}

.imagem-texto {
   padding: 0 1em 2em 1em; 
}

.corpo-texto {
    text-align: justify;
    padding: 2em;
}

/* CSS PAGINA 2 */
.div-tabela {
    margin: 0 auto; 
    max-width: 50%;
}

/* CSS PAGINA 3 */
.tabela table {
    margin: 0 auto; 
}